img {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  /* div.melon-div img {
    border: 5px solid green;
  }
  
  
  .melon-div {
    display: block;
    padding: 10px;
    width: 205px;
    border: 0;
  } */
  
  body{
    background-color: white;
  }
  
  h1 {
    font-family: sans-serif;
    color: green;
  }

  .list-group li:nth-child(1){
    border: 0 none;
  }

  table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  