<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/styles.css"/>
</head>

<body>

<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">

        <div class="navbar-header">
            <!-- <img src="/static/img/ubermelon-logo.png"> -->
            <a class="navbar-brand" href="/">Aspiration Recycling</a>
        </div>

        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/recyclers">
                        <!-- <img class="melon-cart"
                             src="/static/img/watermelon.png"> -->
                        Favorited Recyclers
                    </a>
                </li>
                <li>
                    <a href="/createaccount">
                        <!-- <img class="melon-cart"
                             src="/static/img/watermelon.png"> -->
                        Create Account
                    </a>
                </li>
                <li>
                    <a href="/login">
                        Log In
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>

<div class="container">
    <title>
      {% block title %}{% endblock %}
    </title>

    {% block head %}{% endblock %}
  </head>
  <body>
    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}

    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
  </body>
</html>
