{% extends 'base.html' %}
{% block title %}Create Account{% endblock %}

{% block body %}
<h2>Create An Account</h2><br>
<form action="/createaccount" method="POST">
  <label for="name">Name</label>
  <input type="text" class="form-control" name="name" id="name" required>
  <!-- <p>
    Name <input type="text" name="name">
  </p> -->
<br>
  <label for="email">Email</label>
  <input type="text" class="form-control" name="email" id="email" required>
  <!-- <p>
    Email <input type="text" name="email">
  </p> -->
<br>
  <label for="password">Password</label>
  <input type="text" class="form-control" name="password" id="password" required>  
  <!-- <p>
    Password <input type="password" name="password">
  </p> -->
<br>
  <p>
    <input type="submit" value="Create Account" class="btn btn-primary">
  </p>
</form>
{% endblock %}