
{% extends 'base.html' %}

{% block body %}
    <h1>Your Favorite Recyclers</h1>

    {% if favorites %}
        <table class="table table-striped">
            <thead> 
            <tr>
                <th>Recycler Name</th>
            </tr>
            </thead>
            <tbody>
                {% for favorite in favorites %} 
                    <tr>
                        <th><a href="/recycler/{{ favorite.location_id }}">{{loc_details[favorite.location_id]['description']}}</a></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No favorites yet!</p>
    {% endif %}

{% endblock %}
